mat-form-field {
    padding: 5px;
}

.mat-mdc-card {
    padding: 24px !important;
}

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.primary {
    color: var(--themecolor-alt);
  }

.heading {
padding: 5px;
}


.float-right {
    margin-left: auto;
    cursor: none;
}

table {
    width: 100%;
}




mat-card {
    padding-bottom: 30px !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.quantity-input {
    border: 1px solid transparent; 
  }
  
  .quantity-input.edit-mode {
    border: 1px solid #3f51b5; 
    border-radius: 4px; 
  }