<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="main-nav">
        <ul>
            <th:block th:unless="${@currentUser.username}">
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/about}">About</a>
                </li>
                <li>
                    <a th:href="@{/users/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/users/register}">Register</a>
                </li>
            </th:block>
            <th:block th:if="${@currentUser.username}">
                <li>
                    <a th:href="@{/add-route}">Add new route</a>
                </li>
                <li>
                    <a th:href="@{/users/profile}">Profile</a>
                </li>
                <li th:if="${@currentUser.isAdmin}">
                    <a th:href="@{/}">Admin</a>
                </li>
                <li>
                    <form th:action="@{/users/logout}" th:method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="submit" value="Logout" class="logout-btn btn btn-link nav-link"input />
                    </form>
                </li>

            </th:block>
        </ul>
    </nav>
</header>

</body>
</html>