<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ 'register.title' | translate }}</span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="registerForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'register.name' | translate }}</mat-label>
        <input matInput formControlName="name" required />
        <mat-error>
          <span *ngIf="registerForm.controls.name.errors?.required">
            {{ 'register.nameErrors.required' | translate }}
          </span>
          <span *ngIf="registerForm.controls.name.errors?.pattern">
            {{ 'register.nameErrors.pattern' | translate }}
          </span>
          <span *ngIf="registerForm.controls.name.hasError('serverError')">
            {{ registerForm.controls.name.errors?.serverError }}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'register.contactNumber' | translate }}</mat-label>
        <input matInput formControlName="contactNumber" required />
        <mat-error>
          <span *ngIf="registerForm.controls.contactNumber.errors?.required">
            {{ 'register.contactNumberErrors.required' | translate }}
          </span>
          <span *ngIf="registerForm.controls.contactNumber.errors?.pattern">
            {{ 'register.contactNumberErrors.pattern' | translate }}
          </span>
          <span *ngIf="registerForm.controls.contactNumber.hasError('serverError')">
            {{ registerForm.controls.contactNumber.errors?.serverError }}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'register.email' | translate }}</mat-label>
        <input matInput formControlName="email" required />
        <mat-error>
          <span *ngIf="registerForm.controls.email.errors?.required">
            {{ 'register.emailErrors.required' | translate }}
          </span>
          <span *ngIf="registerForm.controls.email.errors?.pattern">
            {{ 'register.emailErrors.pattern' | translate }}
          </span>
          <span *ngIf="registerForm.controls.email.hasError('serverError')">
            {{ registerForm.controls.email.errors?.serverError }}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'register.password' | translate }}</mat-label>
        <input
          matInput
          [type]="password ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="password = !password"
          [attr.aria-label]="password ? 'Show password' : 'Hide password'"
          [attr.aria-pressed]="!password"
        >
          <mat-icon>{{ password ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <span *ngIf="registerForm.controls.password.errors?.required">
            {{ 'register.passwordErrors.required' | translate }}
          </span>
          <span *ngIf="registerForm.controls.password.hasError('serverError')">
            {{ registerForm.controls.password.errors?.serverError }}
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{ 'register.confirmPassword' | translate }}</mat-label>
        <input
          matInput
          [type]="confirmPassword ? 'password' : 'text'"
          formControlName="confirmPassword"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="confirmPassword = !confirmPassword"
          [attr.aria-label]="confirmPassword ? 'Show confirmPassword' : 'Hide confirmPassword'"
          [attr.aria-pressed]="!confirmPassword"
        >
          <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>
          <span *ngIf="registerForm.controls.confirmPassword.errors?.required">
            {{ 'register.confirmPasswordErrors.required' | translate }}
          </span>
          <span *ngIf="registerForm.controls.confirmPassword.hasError('serverError')">
            {{ registerForm.controls.confirmPassword.errors?.serverError }}
          </span>
        </mat-error>
        <mat-hint *ngIf="passwordMismatch && registerForm.controls.confirmPassword.touched">
          {{ 'register.passwordMismatch' | translate }}
        </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="passwordMismatch || !(registerForm.valid || registerForm.dirty)"
  >
    <mat-icon>save</mat-icon>{{ 'register.registerButton' | translate }}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>{{ 'register.closeButton' | translate }}
  </button>
</mat-dialog-actions>
