<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">
        {{ "bestSeller.title" | translate }}
      </h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/1.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "bestSeller.pizza.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "bestSeller.pizza.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/2.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "bestSeller.biryani.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "bestSeller.biryani.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/3.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/3.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "bestSeller.pasta.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "bestSeller.pasta.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/4.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>{{ "bestSeller.chocolateCake.title" | translate }}</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              {{ "bestSeller.chocolateCake.description" | translate }}
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>{{ "bestSeller.callToAction" | translate }}</h4>
        </div>
      </li>
    </ul>
  </div>
</div>
