<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Bon App-étit</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-primary active h5 text-stroke" th:href="@{/}">Bon App-étit</a>
        <a th:if="${@currentUser.isLoggedIn()}"
           class="nav-link text-primary active h5 text-stroke"
           th:href="@{/recipes/add}">
            Add Recipe
        </a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li th:unless="${@currentUser.isLoggedIn()}" class="nav-item col-md-4">
                    <a
                        class="nav-link text-primary active h5 text-stroke"
                        th:href="@{/users/login}">
                        Login
                    </a>
                </li>

                <li th:unless="${@currentUser.isLoggedIn()}" class="nav-item col-md-4">
                    <a
                       class="nav-link text-primary active h5 text-stroke"
                       th:href="@{/users/register}">
                        Register
                    </a>
                </li>

                <li th:if="${@currentUser.isLoggedIn()}" class="nav-item col-md-4">
                    <form   th:action="@{/users/logout}" method="POST">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="submit" value="Logout"  class="logout-btn btn-link nav-link text-primary active h5 text-stroke" />
                    </form>
                </li>

            </ul>
        </div>
    </nav>
</header>

<div th:fragment="tableFragment(title, data, imageUrl, imageAlt, imageBgClass)">
    <div>
        <h3 class="mySticky bg-gray text-dark  mb-0 mt-2" th:text="${title} + ' (' + ${data.size()} + ')'"></h3>
        <div class="bg-dark rounded m-auto" style="height: 31vh; overflow: auto">
            <table class="table table-striped table-dark">
                <tr th:each="item : ${data}">
                    <td th:class="${imageBgClass}" scope="row" style="width: 5%">
                        <img class="mr-2" th:src="@{${imageUrl}}" th:alt="${imageAlt}" width="35px" height="35px">
                    </td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.ingredients}"></td>
                    <td th:if="${title != 'Favourites'}">
                        <form th:method="POST" th:action="@{/recipes/add-to-favourites/{id}(id = ${item.id})}">
                            <button type="submit">
                                <img class="mr-2" src="/img/add-to-favourites.png" alt="Add to Favourites" width="35px" height="35px">
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-primary text-stroke fixed-bottom">
            &copy; Spring team 2023. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>