<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>Reset Password</span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="handleSubmit()">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>New Password</mat-label>
        <input
          matInput
          formControlName="newPassword"
          type="password"
          required
        />
        <mat-error
          *ngIf="resetPasswordForm.get('newPassword').hasError('required')"
        >
          Password is required.
        </mat-error>
        <mat-error
          *ngIf="resetPasswordForm.get('newPassword').hasError('minlength')"
        >
          Password must be at least 6 characters long.
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!resetPasswordForm.valid"
  >
    <mat-icon>refresh</mat-icon>Reset Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>cancel</mat-icon>Cancel
  </button>
</mat-dialog-actions>
